<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body style="background-color: blanchedalmond;">
<center>
  {% include "quiz/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px; background-color: antiquewhite;">
    <h1 class="display-4">Hey, Student</h1>
    <p class="lead">🌟 Welcome to the world of Online Quiz - where learning meets fun and challenges.
      <br>
      Get ready to embark on an educational journey filled with exciting quizzes and opportunities to expand your knowledge! 
      <br>
      🚀 Whether you're brushing up on your skills or exploring new topics, Online Quiz is your passport to a world of learning.
      <br>
      Dive into quizzes across various subjects and discover the joy of continuous improvement. Ready to level up your knowledge? 
      <br>
      Log in now and let the quiz adventures begin!
      <br>
      <br>
      Your learning adventure starts here! ✨📖</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="studentsignup" role="button">Create Your Account</a>
      <a class="btn btn-primary btn-lg" href="studentlogin" role="button">Login</a>
    </p>
    <br><br><br><br><br><br>
  </div>
</center>

</body>

</html>
