<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body style="background-color: blanchedalmond;">
<center>
  {% include "quiz/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px; background-color: antiquewhite;">
    <h1 class="display-4">Hello, Teacher</h1>
    <p class="lead">🎉 Welcome to the exciting world of Online Quiz - your go-to platform for interactive and dynamic online quizzes.
      <br>
      As a teacher, you're not just logging in; you're unlocking a treasure trove of educational possibilities!
      <br> 
      🚀 From creating captivating courses to crafting challenging exams, you're in control of the learning adventure.
      <br>
      Ready to inspire and engage your students? Log in now to explore the exciting features that await you on Online Quiz!
      <br>
      <br>
      Let the quiz magic begin! ✨📚</p>
      <br>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="teachersignup" role="button">Create Your Account</a>
      <a class="btn btn-primary btn-lg" href="teacherlogin" role="button">Login</a>
    </p>
    <br><br><br><br>
  </div>
</center>
</body>

</html>
